doctype html
html
head 
title Simple Site Using NodeJS Express and Pug
link(rel= 'stylesheet', href='/css/styles.css')
block styles
script(src)
body 
h1 Welcome to NodeJS Express and Pug
p This project is just to practice 
